.bottomCover{
	min-height: 40vh;
	background: url('../assets e img/achievement-adult-agreement-1391373.png') no-repeat center center / cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;

}

.bottomCover img{
	height: 30px;
}

