.containerHeader nav > a{
	text-decoration: none;
	font-weight: 800;
	font-size: 32px;
}

.containerHeader nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 0;
	width: 80%;
}

.containerHeader nav ul li{
	text-align: center;
	width: 100%;
}


.containerHeader nav ul li img{
	width: 100px;
	margin-right: 250px;
}

.containerHeader nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 70%;
	text-decoration: none;
	color: white;
}

.containerHeader a .active,a:hover{
	background: #002050;
	transition: .5s;
}



.containerHeader .checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
.containerHeader #check{
	display: none; 
}



