.cover{
	min-height: 100vh;
	background: url("../assets e img/EDIT_ballpen-blur-close-up-461077.png") no-repeat;
	background-size: cover;
	height: calc(100vh - 80px)
	justify-content: space-between;
	color: white;
}



.cover .top_cover{
	margin-left: 100px;
	min-height: 150px;
}



.cover .center_cover{

	margin-left: 100px;
    display: block;
    width: 160px;
    height: 40px;
    padding: 10px 5px;
    background-color: #00a4ef;
    color: white;
    text-decoration: none;
    text-align: center;
}



.cover .bottom_cover{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 100px 0 100px;
    transform: translate(-50%,-50%);
}

.cover .empty{
    display: inline-block;
    min-width: 300px;
    height: 100px;
    transform: translate(-50%,-50%);
}


.cover .margin{
    position: relative;
    z-index: 5;
    text-align: center;
    color: white;
    max-height: 40px;
}
