@media screen and (max-width: 880px) {

	.container2x5 h1{
		font-size: 28px;
	}
	.container2x5 ul li ._1,._2,._3,._4,._5,._6,._7,._8,._9,._10{
		font-size: 12px;
	}
	.container2x5 ul li ._1 h2, .container2x5 ul li ._2 h2,.container2x5 ul li ._3 h2,.container2x5 ul li ._4 h2,.container2x5 ul li ._5 h2,.container2x5 ul li ._6 h2,.container2x5 ul li ._7 h2,.container2x5 ul li ._8 h2,.container2x5 ul li ._9 h2,.container2x5 ul li ._10 h2{
	font-size: 16px;
	font-weight: bold;
	}

	.container3x1 p{
		font-size: 14px;
	}
	.container3x1 h1{
		font-size: 30px;
	}
	.container3x1 ul li .line{
    	border: 1.5px solid #dedede;
	}
	.container3x1 h2{
	font-size: 18px;
	}

	.container3x1 ul li .bottom1{
    border: 0px solid #7fba00;
	}



	.bottomCover div p{
		font-size: 18px;
	}

}


@media screen and (max-width: 680px) {



	.container2x5 h1{
		font-size: 18px;
	}
	.container2x5 ul li ._1,._2,._3,._4,._5,._6,._7,._8,._9,._10{
		font-size: 10px;
	}
	.container2x5 ul li ._1 h2, .container2x5 ul li ._2 h2,.container2x5 ul li ._3 h2,.container2x5 ul li ._4 h2,.container2x5 ul li ._5 h2,.container2x5 ul li ._6 h2,.container2x5 ul li ._7 h2,.container2x5 ul li ._8 h2,.container2x5 ul li ._9 h2,.container2x5 ul li ._10 h2{
	font-size: 12px;
	font-weight: bold;
	}

	.container3x1 p{
		font-size: 10px;
	}
	.container3x1 h1{
		font-size: 14px;
	}
	.container3x1 ul li .line{
    	border: 1px solid #dedede;
	}
	.container3x1 h2{
	font-size: 12px;
	}

	.bottomCover div p{
		font-size: 18px;
	}

}

