* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Segoeu";
	font-size: 16px;

}

@font-face {
  font-family: "Segoeu";
  src: url("../assets e img/segoeui.ttf");
}

@font-face {
  font-family: "Segoeu";
  font-weight: 600;
  src: url("../assets e img/segoeuib.ttf");
}

@font-face {
  font-family: "Segoeu";
  font-style: italic;
  src: url("../assets e img/segoeuil.ttf");
}


b{
	
}

i {
	
}

h1{
	text-align: center;
	font-size: 30px;
}

h2{
	text-align: center;
	font-size: 18px;
}



p {
	text-align: center;
}


.cover{
	min-height: 100vh;
	background: url('../assets e img/ballpen-blur-close-up-461077.png') no-repeat center center / cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.bottom_cover{
	display: flex;
	font-size: 1.75em;

	> * + * {
		margin-left: 100px;
		margin-bottom: 100px;
	}
}

header{
	background: #2571b7;
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 50px;
}

.header_items{
	display: inline-block;
}

article{
	margin-top: 100px;
	margin-bottom: 100px;
}





/* FIM container2x5 */

.mask_group{
	background: url('../assets e img/Grupo de máscara 1.png') no-repeat center center / cover;
}


.spaced_side {
	width: 100px;
    height: 100px;
    display: inline-block;
}

#image_beside{
	margin-top: 10px;
}



#image_beside img{
	float: left;
	margin: 10px 10px 10px 10px;
}

#image_beside p h2{

}

#image_beside p{
	text-align: left;
}

#image_beside h2{
	text-align: left;
}



.cover2{
	min-height: 100vh;
	background: url('../assets e img/achievement-adult-agreement-1391373.png') no-repeat center center / cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
}


