h1{
	text-align: center;
	font-size: 30px;
}

h2{
	text-align: center;
	font-size: 18px;
}

p {
	text-align: center;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
main{
	margin-top: 100px;
	margin-bottom: 100px;
}




.downArrow i{
	width: 300px;
	height: 300px;
}

.header_items{
	display: inline-block;
}


.mask_group{
	background: url('../assets e img/Grupo de máscara 1.png') no-repeat center center / cover;
}


.spaced_side {
	width: 100px;
    height: 100px;
    display: inline-block;
}



#image_beside{
	margin-top: 10px;
}



#image_beside img{
	float: left;
	margin: 10px 10px 10px 10px;
}

#image_beside p h2{

}

#image_beside p{
	text-align: left;
}

#image_beside h2{
	text-align: left;
}





