* {
	margin: 0;
	padding: 0;
	list-style: none;

	font-family: "DEU RUIMMM assets e img/segoeui.ttf";

}

h1{
	text-align: center;
}


p {
	text-align: center;
}

.cover{
	min-height: 100vh;
	background: url('../assets e img/ballpen-blur-close-up-461077.png') no-repeat center center / cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.bottom_cover{
	display: flex;
	font-size: 1.75em;

	> * + * {
		margin-left: 100px;
		margin-bottom: 100px;
	}
}

header{
	background: #2571b7;
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 50px;
}

.header_items{
	display: inline-block;
}

article{
	margin-top: 100px;
	margin-bottom: 100px;
}



/* CONTAINER */
.container{
	width: 90%;
	overflow: hidden;
	background:skyblue;
	margin: 20px auto;
	padding: 20px 0px;
}

.container ul{
	padding: 0px;
	margin: 0px;
}

.container ul li{
	float: left;
	width: 20%;
	height: 100px;
	background: red;
	margin: 40px 0px 0px 50px;
	box-sizing: border-box;
	border: 2px solid white;
}


.container ul li:hover{
	opacity: 0.9;
}

.container ul li .title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: white;
	text-align: center;
}

.container ul li .title:hover{
	background: blue;
	color: black;
}

@media screen and (max-width: 1250px) {
	.container ul li{
		width: 40%;
		margin-left: 50px;
	}
}

@media screen and (max-width: 750px) {

	.container{
		width: 100%;
		padding: 0px;
	}
	.container ul li{
		float: none;
		width: 90%;
		margin: 40px auto;
	}
}

/* FIM CONTAINER */

.mask_group{
	background: url('../assets e img/Grupo de máscara 1.png') no-repeat center center / cover;
}


.spaced_side {
	width: 100px;
    height: 100px;
    display: inline-block;
}


img, p{
	float: left;
}


.cover2{
	min-height: 100vh;
	background: url('../assets e img/achievement-adult-agreement-1391373.png') no-repeat center center / cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
}


